body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
.container {
  display: flex;
}
.sidebar {
  width: 220px;
  background: #1f3c88;
  color: #fff;
  height: 100vh;
  padding: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 10px 0;
}
.main {
  padding: 20px;
  width: 100%;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}
.red {
  background: linear-gradient(to right, red, green);
}
.pink {
  background: linear-gradient(to right, pink, orange);
}
.purple {
  background: linear-gradient(to right, green, purple);
}
.events {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.event {
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
.orange {
  background: orange;
}
.blue {
  background: blue;
}
.green {
  background: teal;
}
