body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.sidebar {
  width: 520px;
  background: #1f3c88;
  color: #fff;
  height: 500vh;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
